@inherits LayoutComponentBase

<div class="page">
	<nav class="top-row ps-3 navbar">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">NihongoBot</a>
		</div>
	</nav>

	<main>
		<article class="content p-4">
			@Body
		</article>
	</main>
</div>
